{% extends 'layouts/base.html' %}
{% load staticfiles %}


{% block content %}
    {% include 'layouts/header.html' %}
    <style scoped>

        .button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            border:none;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            text-align: center;
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }

    </style>

    <div class="space-small bg-default">
        <div class="container">
            <h1>Job List</h1>
            <table>
                <thead>
                    <th> Job Id </th>
                    <th> Job Title </th>
                    <th> Job Content </th>
                    <th> Job Time/hour </th>
                    <th width="12%"> Actions </th>
                </thead>            
                <tbody>
                    {% for job in jobs %}
                    <tr>
                        <td>{{job.id}}</td>
                        <td>{{job.title}}</td>
                        <td>{{job.description}}</td>
                        <td>{{job.start_time}}-{{job.end_time}}</td>
                        <td><button class="button-success" onclick="editfn({{job.id}})" style="width:50%">Edit</button><button class="button-error" onclick="deletefn({{job.id}})" style="width:50%">Delete</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
    function editfn(jobid){
        //alert("Request"+jobid+"mode"+mode);
        var url = '/job/newform?job_id='+jobid
        window.location = url;
        // $.post('job/reqprocess', 
        // {'request_id': requestid,
        // 'mode': mode,
        // 'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
        // function(data){
        //     // alert(data.result);
        //     if (data.result == false) {
        //         alert('Failure: Your Action is failed');
        //     } else {
        //         alert('Success: Your  action is processed');
        //         window.location = '/job/adminlist'
        //     }
        // })
    };

    function deletefn(jobid){
        alert("Job"+jobid+"will be delete");
        $.post('/job/delete', 
        {'job_id': jobid,
        'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
        function(data){
            // alert(data.result);
            if (data.result == false) {
                alert('Failure: Your Action is failed');
            } else {
                alert('Success: Your  action is processed');
                window.location = '/job/adminlist'
            }
        })
    };
    </script>    
    {% include 'layouts/footer.html' %}    
{% endblock %}