{% extends 'layouts/base.html' %}
{% load staticfiles %}


{% block content %}
    {% include 'layouts/header.html' %}
    
    <div class="space-medium bg-default">   
        <div class="container">
            <div class="row">
                {% for job in jobs %}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="row job-block" style="padding: 13px">
                        <div class="col-lg-3" style="padding-top: 30px">
                            <p style="font-size:48px; font-weight: bold">{{ job.created_date.day }}</p>
                            <p style="font-size:32px">{{ job.created_date|date:"M" }}</p>
                        </div>
                        <div class="col-lg-8">
                            <p style="font-size:32px">{{job.title}}</p>
                            <p>{{job.description}}</p>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i>{{job.start_time}}-{{job.end_time}}<p>
                            <button onclick="jobrequestfn({{job.id}})" style="background-color: rgb(138, 126,126);color: white; border-radius: 4px; border: none">ACCEPT</button>
                        </div>
                    </div>
                </div>
                {% endfor %}                                                                                                          
            </div>
        </div>
    </div>
    <script>
    function jobrequestfn(jobid){
        alert("Send your request of JOB : "+jobid+"  to Server");
        $.post('job/request', 
        {'job_id': jobid,
        'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
        function(data){
            // alert(data.result);
            if (data.result == false) alert('Failure: Your request is failed');
            else alert('Success: Your  request is send to manager successfully');
        })
    };
    // $(document).ready(function(){
    //     // $("#jobacceptbtn").click(function(){
    //     //     alert("The paragraph was clicked.");
    //     // });
    // });
    </script>
    {% include 'layouts/footer.html' %}
{% endblock %}
