
{% extends 'layouts/base.html' %}
{% load staticfiles %}


{% block content %}
    {% include 'layouts/header.html' %}
    <div class="space-medium bg-default">
        <div class="container">
            <form method="POST" action="/job/new">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="well-block">
                        <div class="form-group log-status">
                            <p>Job Title</p>
                            <input type="text" name="title" class="form-control" placeholder="Please input job title" id="JobTitle" value="{{job.title}}">
                        </div>
                        <div class="form-group log-status">
                            <p>Location(optional)</p>
                            <input type="text" name="location" class="form-control" placeholder="e.g. London" id="Location" value="{{job.location}}">
                        </div>
                        <div class="form-group log-status">
                            <p>Description</p>
                            <textarea name="description" class="form-control" id="Description" style="height:200px;" value="{{job.description}}"></textarea>
                        </div>
                        <div class="form-group log-status">
                            <p>StartTime</p>
                            <input name="start_time" class="form-control" type="time" value="{{job.start_time}}">
                        </div>
                        <div class="form-group log-status">
                            <p>EndTime</p>
                            <input name="end_time" class="form-control" type="time" value="{{job.end_time}}">
                        </div>                                                
                    </div>
                    <div class="well-block">
                        <button id="jobsubmit" type="submit" style="width: 40%; height: 50px; background-color: rgb(138, 126,126); color: white; border-radius: 4px; border:none; margin: 0 30%">Submit</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
    {% include 'layouts/footer.html' %}    
{% endblock %}