{% extends 'layouts/base.html' %}
{% load staticfiles %}


{% block content %}
    {% include 'layouts/header.html' %}
    <style scoped>

        .button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            border:none;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            text-align: center;
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }
        .print-button{
            float: right;
        }
        button.print-button {
        width: 70px;
        height: 70px;
        }
        span.print-icon, span.print-icon::before, span.print-icon::after, button.print-button:hover .print-icon::after {
        border: solid 4px #333;
        }
        span.print-icon::after {
        border-width: 2px;
        }

    button.print-button {
    position: relative;
    padding: 0;
    border: 0;
    
    border: none;
    background: transparent;
    float: right;
    }

    span.print-icon, span.print-icon::before, span.print-icon::after, button.print-button:hover .print-icon::after {
    box-sizing: border-box;
    background-color: #fff;
    }

    span.print-icon {
    position: relative;
    display: inline-block;  
    padding: 0;
    margin-top: 20%;

    width: 60%;
    height: 35%;
    background: #fff;
    border-radius: 20% 20% 0 0;
    }

    span.print-icon::before {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 12%;
    right: 12%;
    height: 110%;

    transition: height .2s .15s;
    }

    span.print-icon::after {
    content: " ";
    position: absolute;
    top: 55%;
    left: 12%;
    right: 12%;
    height: 0%;
    background: #fff;
    background-repeat: no-repeat;
    background-size: 70% 90%;
    background-position: center;
    background-image: linear-gradient(
        to top,
        #fff 0, #fff 14%,
        #333 14%, #333 28%,
        #fff 28%, #fff 42%,
        #333 42%, #333 56%,
        #fff 56%, #fff 70%,
        #333 70%, #333 84%,
        #fff 84%, #fff 100%
    );

    transition: height .2s, border-width 0s .2s, width 0s .2s;
    }

    button.print-button:hover {
    cursor: pointer;
    }

    button.print-button:hover .print-icon::before {
    height:0px;
    transition: height .2s;
    }
    button.print-button:hover .print-icon::after {
    height:120%;
    transition: height .2s .15s, border-width 0s .16s;
    }

    </style>
    <style type="text/css" media="print">
        body {visibility:hidden;}
        #pre{display:none;}
        .header{display: none;}
        .print {visibility:visible; position:relative; top:30px;}
    </style>
    <div id="pre" class="space-small bg-default">
        <div class="container">
            <h1>Staff requesting jobs</h1>
            <table>
                <thead>
                    <th width="5%"> Reqid </th>
                    <th width="6%"> Photo </th>
                    <th width="10%"> Name </th>
                    <th width="15%"> Job Title </th>
                    <th width="25%"> Job Content </th>
                    <th width="27%"> Date </th>
                    <th width="13%"> Actions </th>
                </thead>            
                <tbody>
                    {% for request in will_requests %}
                    <tr>
                        <td>{{request.id}}</td>
                        <td><img src="{{request.profile.path}}" width="60px" height="60px"/></td>
                        <td>{{request.user.username}}</td>
                        <td>{{request.job.title}}</td>
                        <td>{{request.job.description}}</td>
                        <td>{{request.created_date}}</td>
                        <td><button class="button-secondary" onclick="processfn(true, {{request.id}})">Accept</button><button class="button-error" onclick="processfn(false, {{request.id}})">Decline</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="space-small bg-default">
        <div class="container">
            <h1 style="float: left">Staff working on jobs</h1>
            <!-- <button style="float: right" onclick="window.print()">Print</button> -->
            <button class="print-button" onclick="window.print()"><span class="print-icon"></span></button>
            <table class="print">
                <thead>
                    <th width="20%"> Date of Event </th>
                    <th width="6%"> Photo </th>
                    <th> Staff Members </th>
                    <th width="15%"> Job Title </th>
                    <th width="25%"> Job Content </th>                  
                    <th> Status </th>
                </thead>            
                <tbody>
                    {% for request in did_requests %}
                    <tr>
                        <td>{{request.created_date}}</td>
                        <td><img src="{{request.profile.path}}" width="60px" height="60px"/></td>
                        <td>{{request.user.username}}</td>
                        <td>{{request.job.title}}</td>
                        <td>{{request.job.description}}</td>
                        
                        <td>
                            {% if request.status == 'AC' %}
                            <p class="button-secondary">Accept</p>
                            {% elif request.status == 'DE' %}
                            <p class="button-error">Decline</p>
                            {% else %}
                            <p class="button-warning">Waiting</p>
                            {% endif %}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
    function processfn(mode, requestid){
        $("#mybody").css("display","none");
        $("#waiting").css("display","block");
        $.post('job/reqprocess', 
        {'request_id': requestid,
        'mode': mode,
        'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
        function(data){
            // alert(data.result);
            $("#mybody").css("display","block");
            $("#waiting").css("display","none");
            if (data.result == false) {
                alert('Failure: Your Action is failed');
            } else {
                alert('Success: Your  action is processed');
                window.location = '/job/reqprocess'
            }
        })
    };
    </script>    
    {% include 'layouts/footer.html' %}    
{% endblock %}