{% extends 'layouts/base.html' %}
{% load staticfiles %}


{% block content %}
    {% include 'layouts/header.html' %}
    <style scoped>

        .button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            border:none;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            text-align: center;
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }

    </style>
    <div class="space-small bg-default">
        <div class="container">
            <h1>Staff requesting jobs</h1>
            <table>
                <thead>
                    <th> Request id </th>
                    <th> Job Title </th>
                    <th> Job Content </th>
                    <th> Staff Member </th>
                    <th> Actions </th>
                </thead>            
                <tbody>
                    {% for request in will_requests %}
                    <tr>
                        <td>{{request.id}}</td>
                        <td>{{request.job.title}}</td>
                        <td>{{request.job.description}}</td>
                        <td>{{request.user.username}}</td>
                        <td><button class="button-secondary" onclick="processfn(true, {{request.id}})">Accept</button><button class="button-error" onclick="processfn(false, {{request.id}})">Decline</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="space-small bg-default">
        <div class="container">
            <h1>Staff working on jobs</h1>
            <table>
                <thead>
                    <th> Request id </th>
                    <th> Job Title </th>
                    <th> Job Content </th>
                    <th> Staff Member </th>
                    <th> Status </th>
                </thead>            
                <tbody>
                    {% for request in did_requests %}
                    <tr>
                        <td>{{request.id}}</td>
                        <td>{{request.job.title}}</td>
                        <td>{{request.job.description}}</td>
                        <td>{{request.user.username}}</td>
                        <td>
                            {% if request.status == 'AC' %}
                            <p class="button-secondary">Accept</p>
                            {% elif request.status == 'DE' %}
                            <p class="button-error">Decline</p>
                            {% else %}
                            <p class="button-warning">Waiting</p>
                            {% endif %}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
    function processfn(mode, requestid){
        $("#mybody").css("display","none");
        $("#waiting").css("display","block");
        $.post('job/reqprocess', 
        {'request_id': requestid,
        'mode': mode,
        'csrfmiddlewaretoken': '{{ csrf_token }}'}, 
        function(data){
            // alert(data.result);
            $("#mybody").css("display","block");
            $("#waiting").css("display","none");
            if (data.result == false) {
                alert('Failure: Your Action is failed');
            } else {
                alert('Success: Your  action is processed');
                window.location = '/job/reqprocess'
            }
        })
    };
    </script>    
    {% include 'layouts/footer.html' %}    
{% endblock %}